<!DOCTYPE html>
<html>
<head>
	<title>Workout</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
    <link href="/css/bootstrap.css" rel="stylesheet">

	<link href="/css/editworkout.css" rel="stylesheet">
	
	<nav class="navbar navbar-toggleable-md navbar-light" id="navigation">
	  	<div class="container-fluid">
	  		  <a id="title">flex</a>
		</div>
	</nav>

</head>

<body>
	<h3>Workout Name:<h3> <input class="form-control input-lg" id="workout-name" value="{{workout.name}}" name="name" type="text">
  	<large> <!--10 min. --></large></br></br>
	<div class="editingButtonsDiv">Exercises
		<div class="editingButtons">
			<form action="/editworkout/{{id}}" id="addingExercise" method="POST">
				<button type="submit" class="btn btn-lg" id="addbtn" aria-label="Left Align">
			  		<span class="glyphicon glyphicon-plus"  aria-hidden="true"></span>
				</button>
			</form>
		</div>
		<div class="editingButtons">
			<form  id="saveExercise" >
				<button class="btn btn-lg" id="addbtn" aria-label="Left Align">
			  		<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
				</button>
			</form>
		</div>
	</div>

    {{#each workout.exercises}}
    <div class="exercise">
		<div class="container">
			<div class="container-fluid" id="individual-exercise">
				<div class="row">
				     <div class="col-11 form-group name-text-box">
		  				<input type="text" name="exname" id="exname-{{@index}}" class="form-control-lg name-text-box" value="{{this.exname}}"> 
		  					<!-- <input type="text" name="nancy{{@index}}" class="form-control-lg name-text-box" placeholder=" {{this.exname}}">  -->
					 </div>
					<form action="/editworkout/{{../id}}/{{@index}}/delete" id="deletingExercise" method="POST">
						 <button type="submit" class="col-1 close deletebtn" aria-label="Close">
						  	<span aria-hidden="true">&times;</span>
						 </button>
					</form>
				</div>
				<div class="row">
				    <div class="col-1 time-text-box">
				    	<h4> Minutes: </h4>
				    	<div class="form-group time-text-box">
		  					<input type="text" name="time" id="min-{{@index}}" class="form-control-lg time-unit" value="{{this.min}}" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
						</div>
					</div>
					<div class="w-100"></div>
				    <div class="col-1">
				    	<h4> Seconds: </h4>
				    	<div class="form-group time-text-box">
		  					<input type="text" name="time" id="sec-{{@index}}" class="form-control-lg time-unit" value="{{this.sec}}" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
						</div>
					</div>
  					<div class="w-100"></div>
				    <div class="col-1">
				    	<h4>Sound:</h4>
						<div class="dropdown">
						  <button class="btn btn-secondary dropdown-toggle sound-{{@index}}" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{this.sound}}</button>
						  <ul class="dropdown-menu" id="dropdownmenu" name="sound" aria-labelledby="dropdownMenuButton2">
						  {{#each ../sounds}}
						  	<li class="dropdown-item">{{this}}</li>
						  {{/each}}
						  </ul>
					</div>
				    <div class="divider"/></div>
				    <div class="col-1">
					</div>

				</div>
			</div>
		</div>
	</div>
	{{/each}}

<h3>Repetitions</h3>
	<div class="form-group time-text-box">
			<input type="text" name="repetitions" id="reps" class="form-control-lg time-unit" value="{{workout.repetitions}}" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
	</div>
</br>
</br>
</br>
</br>
</br>




<script type="text/javascript">

	$("sound-item").click(function(){
		console.log("HI");
		// var elem = document.getElementById("dropdownMenuButton2");
		// elem.text = this.text;
	});

	$("#saveExercise").submit(function(e){
		e.preventDefault();
		var workout = {};
		workout.name = $("#workout-name").val();
		workout.repetitions = $("#reps").val();
		var min = 0;
		var sec = 0;
		workout.exercises = [];
		for(var i = 0; i < $(".exercise").length; i++)
		{
			var currex = {};
			currex.exname = $("#exname-" + i).val();
			currex.min = $("#min-" + i).val();
			min += $("#min-"+i).val();
			currex.sec = $("#sec-" + i).val();
			sec += $("#sec-"+i).val();
			currex.sound = $(".sound-" + i).text();

			workout.exercises.push(currex);
		}

		min+= sec/60;
		sec = sec % 60;
		workout.totalmin = min;
		workout.totalsec = sec;

		$.post(window.location.pathname + "/save", {workout:workout}, function(){
			window.location = '/library';
		});
	});

</script>


<script href="./routes/addworkout.js" type="text/javascript"></script> 
<script>
 </script>

<script>
// var sounds = ["Squeaks", "Whistle", "Blaster"];

// for(var i = 0; i < sounds.length; i++)
// {
// 	var elem = document.createElement("a");
// 	elem.href="javascript:;";
// 	elem.text=sounds[i];
// 	elem.setAttribute("class", "dropdown-item");
// 	elem.setAttribute("id", "sound-item");
// 	var dropdown = document.getElementById("dropdownmenu");
// 	dropdown.appendChild(elem);

// 	if(i != sounds.length-1)
// 	{
// 		var elem2 = document.createElement("div");
// 		elem2.setAttribute("class", "dropdown-divider");
// 		dropdown.appendChild(elem2);
// 	}

// }

</script>

</body>


</html>
