<!DOCTYPE html>
<html>
<head>
	<title>Workout</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">	
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/editworkout.css" rel="stylesheet">
	
	<div class="header" id="myHeader">
	 	<h2 class="container-fluid">
			<h2>Flex</h2>
		</h2>
	</div>

</head>

<body>
	<div class="wrkname">
		<h3>Workout Name:</h3> 
	</div>

	<input class="form-control input-lg" id="workout-name" value="{{workout.name}}" name="name" type="text">
	
	

	<large> <!--10 min. --></large></br></br>
	<div class="container editingButtonsDiv">
		<form id="addExercise">
			<div class="addexercise">
				Exercises
				<button class="btn btn-lg" id="addbtn" aria-label="Left Align">
					<span class="glyphicon glyphicon-plus"  aria-hidden="true"></span>
				</button>
			</div>
		</form>
	</div>

	{{#each workout.exercises}}
	<div class="exercise">
		<div class="container">
			<div class="container-fluid" id="individual-exercise">
				<div class="row">
					<div class="col-11 form-group name-text-box">
						<input type="text" name="exname" id="exname-{{@index}}" class="form-control-lg name-text-box" value="{{this.exname}}"> 
					</div>
					<form action="/editworkout/{{../id}}/{{@index}}/delete" id="deletingExercise" method="POST">
						<button type="submit" class="col-1 close deletebtn" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</form>
				</div>
				<div class="row">
					<div class="col-1 time-text-box">
						<h4> Minutes: </h4>
						<div class="form-group time-text-box">
							<input type="text" name="time" id="min-{{@index}}" class="form-control-lg time-unit" value="{{this.min}}" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
						</div>
					</div>
					<div class="w-20"></div>
					<div class="col-1">
						<h4> Seconds: </h4>
						<div class="form-group time-text-box">
							<input type="text" name="time" id="sec-{{@index}}" class="form-control-lg time-unit" value="{{this.sec}}" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
						</div>
					</div>
					<div class="w-20"></div>
					<div class="col-1">
						<h4>Sound:</h4>
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle sound-{{@index}}" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{this.sound}}</button>
							<ul class="dropdown-menu" id="dropdown-content" name="sound" aria-labelledby="dropdownMenuButton2">
<!-- 						  {{#each ../sounds}}
						  	<li class="dropdown-item" id="listElem"><button id="soundElem">{{this}}</button></li>
						  	{{/each}} -->
						  	<li class="dropdown-item" id="listElem" onclick="updateSound({{@index}}, this)"><button class="soundElem">Blaster</button></li>
						  	<li class="dropdown-item" id="listElem" onclick="updateSound({{@index}}, this)"><button class="soundElem">Confident</button></li>	
						  	<li class="dropdown-item" id="listElem" onclick="updateSound({{@index}}, this)"><button class="soundElem">Definite</button></li>
						  	<li class="dropdown-item" id="listElem" onclick="updateSound({{@index}}, this)"><button class="soundElem">Ding Ding</button></li>
						  	<li class="dropdown-item" id="listElem" onclick="updateSound({{@index}}, this)"><button class="soundElem">Glass</button></li>
						  	<li class="dropdown-item" id="listElem" onclick="updateSound({{@index}}, this)"><button class="soundElem">Pluck</button></li>
						  	<li class="dropdown-item" id="listElem" onclick="updateSound({{@index}}, this)"><button class="soundElem">Spring</button></li>
						  	<li class="dropdown-item" id="listElem" onclick="updateSound({{@index}}, this)"><button class="soundElem">Squeaks</button></li>
						  	<li class="dropdown-item" id="listElem" onclick="updateSound({{@index}}, this)"><button class="soundElem">Unconvinced</button></li>
						  	<li class="dropdown-item" id="listElem" onclick="updateSound({{@index}}, this)"><button class="soundElem">Whistle</button></li>
						  </ul>
						</div>
						<div class="divider"/></div>
						<div class="col-1">
						</div>

					</div>
				</div>
			</div>
		</div>
		{{/each}}
		{{#if data}}
		<div class="repetition-box">
			<h3>Repetitions</h3>
			<div class="form-group time-text-box">
				<input type="text" name="repetitions" id="reps" class="form-control-lg time-unit" value="{{workout.repetitions}}" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
			</div>
		</div>
		{{/if}}
	</br>
<!-- </br>
</br>
</br>
</br> -->

	<div class="container">
		
			<button class="btn btn-lg" id="cancelbtn" onclick="gotolibrary()">Cancel</button>

			<form  id="saveExercise" >
				<button class="btn btn-lg" id="savebtn" aria-label="Left Align">Save
				</button>
			</form>

	</div>

<script type="text/javascript">
	var save = true;

	function updateSound(index, param)
	{
		$(".sound-"+index).text(param.innerText);
	}

	function gotolibrary()
	{
		{{#if data}}
		location.href = "../libraryAlt";
		{{else}}
		location.href = "../library";
		{{/if}}
	}

	$("sound-item").click(function(){
		console.log("HI");
		// var elem = document.getElementById("dropdownMenuButton2");
		// elem.text = this.text;
	});

	$("#addbtn").click(function(){
		save = false;
	});

	$("#savebtn").click(function(){
		save = true;
	});

	$("#saveExercise").submit(function(e){
		e.preventDefault();
		var workout = {};
		workout.name = $("#workout-name").val();
		workout.repetitions = Number($("#reps").val());
		var min = 0;
		var sec = 0;
		workout.exercises = [];
		for(var i = 0; i < $(".exercise").length; i++)
		{
			var currex = {};
			currex.exname = $("#exname-" + i).val();
			var currmin = $("#min-" + i).val();
			var currsec = $("#sec-" + i).val();
			currex.min = +currmin + +Math.trunc(currsec/60);
			currex.sec = +currsec % 60;
			min += $("#min-"+i).val();
			sec += $("#sec-"+i).val();
			currex.sound = $(".sound-" + i).text();

			workout.exercises.push(currex);
		}

		min+= Math.trunc(sec/60);
		sec = sec % 60;
		workout.totalmin = min;
		workout.totalsec = sec;

		$.post(window.location.pathname + "/save", {workout:workout}, function(){
			{{#if data}}
			window.location = '/libraryAlt';
			{{else}}
			window.location = '/library';
			{{/if}}
		});
	});


	$("#addExercise").submit(function(e){
		e.preventDefault();
		var workout = {};
		workout.name = $("#workout-name").val();
		workout.repetitions = Number($("#reps").val());
		var min = 0;
		var sec = 0;
		workout.exercises = [];
		for(var i = 0; i < $(".exercise").length; i++)
		{
			var currex = {};
			currex.exname = $("#exname-" + i).val();
			var currmin = $("#min-" + i).val();
			var currsec = $("#sec-" + i).val();
			currex.min = +currmin + +Math.trunc(currsec/60);
			currex.sec = +currsec % 60;
			min += $("#min-"+i).val();
			sec += $("#sec-"+i).val();
			currex.sound = $(".sound-" + i).text();

			workout.exercises.push(currex);
		}

		var currex2 = {};

		currex2.exname = "Exercise Name";
		currex2.min = "0";
		currex2.sec = "0";
		currex2.sound = "Blaster";

		workout.exercises.push(currex2);		

		min+= Math.trunc(sec/60);
		sec = sec % 60;
		workout.totalmin = min;
		workout.totalsec = sec;

		$.post(window.location.pathname, {workout:workout}, function(){
			window.location = '/editworkout/{{id}}';				
		});	
	});		
	

</script>


<script href="./routes/addworkout.js" type="text/javascript"></script> 
<script>
</script>

<script>


</script>

</body>


</html>