<html>
<head>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-114946810-1', 'auto');
	ga('send', 'pageview');
	</script>
	
	<title>Flex</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  	  	
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">


	<style>
	@import url('https://fonts.googleapis.com/css?family=Karla');
	</style>
	<!-- this is a comment in HTML -->

	<!-- <nav class="navbar navbar-toggleable-md navbar-light" id="navigation">
	  	<div class="container-fluid">
	  		  <a id="title">flex</a>
		</div>
	</nav> -->
	<div class="header" id="myHeader">
	 	<h2 class="container-fluid">
	 		<a href="/info">
			<i class="material-icons" id="info-icon" onclick="back()">info</i>
			</a>
			<a href="/library">
			Flex </a>
			<a href="/userprofile">
			<i class="material-icons" id="accnt-icon" >account_circle</i>
			</a>
		</h2>
	</div>
</head>
<script>
	function home() {
		location.href = "library"
	}
</script>
    
</head>
<form id="libraryForm" action="/library" method="POST">
<body>
	<h1 class="fbname" style="text-align: center;"><i>Welcome, <text id="name">Username</text>!</i></h1>
	<br>

	<h3>Workout
			<button type="button" class="btn btn-lg" onclick="addWorkout({{workout.length}})" id="addbtn" aria-label="Left Align">
				{{#if data}}
	  			    Add
	  			{{else}}
	  				<span class="glyphicon glyphicon-plus"  aria-hidden="true"></span>
	  			{{/if}}
	  		</button>
	</h3>
</form>

<!-- 	{{#each workout}}
	<div class="exercise">
	  <ul class="list-group" id="workoutList">
	  <li class="list-group-item justify-content-between"></small>
	  		<a href="/library">
			<form action="/library/{{@index}}/delete" id="deletingWorkout" method="POST">
				 <button type="submit" class="col-1 close deletebtn" aria-label="Close">
				  	<span aria-hidden="true">&times;</span>
				 </button>
			</form>
		</a>
		<a href="/custom/{{@index}}">
			<button type="button" class="start-btn" id="start-btn" onclick="startWorkout()" aria-label="Left Align">Start</button>
		</a>
		</p>
		<a href="/editworkout/{{@index}}">
			<button type="button" class="edit-btn" id="editbtn" aria-label="Left Align">
		  		<p>Edit</p>
			</button>	
		</a>
	</br>
	
		{{#each this.exercises}}
		<p class="exercise"> {{exname}} </p>
		{{/each}}
	  </li>
	  </ul>
		
	{{/each}} -->

	{{#each workout}}
	
		<!-- <div class="nostart"> -->
	<div class="card-e">
		<div class="row-1">
	<ul class="list-group">
	  <li class="bulletpoint">
				<!--DELTETE BUTTON-->
				<a href="/library">
					<form action="/library/{{@index}}/delete" id="deletingWorkout" method="POST">
						 <button type="submit" class="col-1 close deletebtn" aria-label="Close">
						  	<span aria-hidden="true">&times;</span>
						 </button>
					</form>
				</a>

				<!--EDIT BUTTON-->
				<a href="/editworkout/{{@index}}">
					<button type="button" class="edit-button" id="editbtn" aria-label="Left Align">
				  		<p>Edit</p>
					</button>	
				</a>

				<!---WORKOUT NAME-->
				<div class="workout-name">
					{{name}} 
				</div>
				
			</div> <!-- closerow-1 -->

			<div class="exerciselist">
				{{#each this.exercises}}
					<p class="exercise"> {{exname}} </p>
				{{/each}}
			</div>

			<!--START BUTTON-->
		<div class="row-1">
			<a href="/custom/{{@index}}">
				<button type="button" class="start-button" id="start-btn" onclick="startWorkout()">
					Start
				</button>
			</a>
		</div>
		</div> <!-- close nostart -->

		

		</li>
	  </ul>
{{/each}}
	<!-- </div> --> <!-- close card-e -->

<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<!-- <script src="../routes/index.js"></script> -->
		{{> facebook}}
	<!-- 	<script src="/js/facebook.js"></script> -->

</body>


<!--SCRIPTS-->

<script type="text/javascript">
	function addWorkout(val) {
		//gtag('create', 'UA-114946810-1', 'auto');
		//gtag('send', 'event', 'add', 'click');
		ga('send', 'event','add', 'click');
		document.getElementById("libraryForm").submit();
	}
	function startWorkout() {
		location.href = "custom"
	}
	function editWorkout(val) {
		location.href = "/editworkout/".concat(val);
	}
	function refresh() {
		location.href = "library"
	}
</script>
<!-- </form>
 --></html>