<html>
<head>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114946810-1');
</script>
	<title>Flex</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">

	<style>
	@import url('https://fonts.googleapis.com/css?family=Karla');
	</style>
	<!-- this is a comment in HTML -->

	<nav class="navbar navbar-toggleable-md navbar-light" id="navigation">
	  	<div class="container-fluid">
	  		  <a id="title">flex</a>
		</div>
	</nav>
	
</head>
<script>
	function home() {
		location.href = "library"
	}
</script>
    
</head>
<form id="libraryForm" action="/library" method="POST">
<body>
	<h3>Workout
			<button type="button" class="btn btn-lg" id="addbtn" aria-label="Left Align">
	  		<span class="glyphicon glyphicon-plus" onclick="addWorkout({{workout.length}})" aria-hidden="true"></span></button></h3>

	{{#each workout}}
	<div class="exercise">
	  <ul class="list-group" id="workoutList">
	  <li class="list-group-item justify-content-between">
	  	<p class="workoutname"> {{name}} <small class="durationText"> <!-- 5 min. --></small>
		<a href="/custom/{{@index}}">
			<button type="button" class="start-btn" id="start-btn" onclick="startWorkout()" aria-label="Left Align">Start</button>
		</a>
		</p>
		<a href="/editworkout/{{@index}}">
			<button type="button" class="edit-btn" id="editbtn" aria-label="Left Align">
		  		<p>Edit</p>
			</button>	
		</a>
		{{#each this.exercises}}
		<p class="exercise"> {{exname}} </p>
		{{/each}}
	  </li>
	  </ul>
		
	{{/each}}


</body>


<!--SCRIPTS-->

<script type="text/javascript">
	function addWorkout(val) {
		document.getElementById("libraryForm").submit();
//		location.href = "/editworkout/".concat(val);
	}
	function startWorkout() {
		location.href = "custom"
	}
	function editWorkout(val) {
		location.href = "/editworkout/".concat(val);
	}
	function refresh() {
		location.href = "library"
	}
</script>
</form>
</html>